.container {
    margin-left: 4px;
}

.tournamentContainer {
    margin-bottom: 16px;
}

.tournamentHeader {
    font-weight: 600;
    margin-bottom: 4px;
}

.linkContainer {
    display: flex;
    margin-right: 2px;
    margin-bottom: 3px;
}

.resultContainer {
    width: 48px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    margin-right: 4px;
}

.rowText {
    height: 100%;
    display: inline;
    margin-top: 1px;
}
