.container {
    margin-left: 4px;
    display: flex;
}

.tournamentContainer {
    margin-right: 16px;
    min-width: 210px;
}

.tournamentHeader {
    font-weight: 600;
    margin-bottom: 8px;
}

.deckLinkSpan > a {
    all: unset;
    text-decoration: underline;
    font-weight: 400;
    margin-left: 4px;
}

.linkContainer {
    display: flex;
    padding-right: 4px;
    margin-bottom: 3px;
    border-radius: 8px;
    border: 1px solid white;
}

.resultContainer {
    width: 48px;
    height: 28px;
    border-right: 1px solid white;
    text-align: center;
}

.rowText {
    height: 100%;
    display: inline;
    margin-top: 1px;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
