.tableContainer {
    margin-left: 4px;
}

.tableContainer th, .tableContainer td {
    border: 1px #E0E0CD solid;
    vertical-align: top;
}

.tierHeader {
    min-width: 225px;
}

.linkRow {
    min-height: 50px;
    border-bottom: 1px #E0E0CD solid;
}

.linkRow > * {
    float: left;
}

.colorsContainer {
    padding: 0.4px 1px 1px 1px;
    margin-left: 2px;
}

.colorDiv {
    border-radius: 6px;
    padding: 2px 2px 0 2px;
}

.labelContainer {
    margin: 2px 6px 0 4px;
}

.archetypeText {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.archetypeSubtitle {
    font-weight: 200;
}
