.container {
    padding-top: 2px;
    margin-left: 8px;
    display: flex;
    gap: 20px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
    border: 1px #E0E0CD solid;
    border-radius: 8px;
}

.tierHeader {
    text-align: center;
    background-color: black;
    border-bottom: 1px #E0E0CD solid;
    border-radius: 8px 8px 0 0;
    padding: 4px 0;
    /* margin-bottom: 2px; */
    font-size: 18px;
    font-weight: 700;
}

.archetypeContainer {
    display: flex;
    gap: 4px;
    align-items: center;
    min-height: 52px;
    max-height: 52px;
    padding: 2px 0 2px 4px;
    color: var(--text-default);
    background-color: var(--bg-default-off);
    border-bottom: 1px #E0E0CD solid;
}

.archetypeContainer:hover {
    background-color: var(--bg-default-hover);
}

.colorDiv {
    border-radius: 6px;
    padding: 2px 2px 0 2px;
}

.labelContainer {
    margin: 0 0 3px 2px;
}

.archetypeText {
    font-weight: 600;
    text-decoration: none;
}

.archetypeSubtitle {
    font-weight: 200;
    text-decoration: none;
}
