.container {
    margin: 2px 6px 390px;
}

.labelHeaderRow > th {
    background-color: #000;
    border-radius: 8px;
    padding: 2px 0;
}

.cardColumnHeader {
    width: 285px;
}

.statsCell {
    border-radius: 8px;
    text-align: center;
    padding: 0 6px;
}

.cell {
    background-color: #000;
    border-radius: 8px;
    text-align: center;
    padding: 0 6px;
}

.gold { background-color: var(--bg-gold); }
.silver { background-color: var(--bg-silver); }
.bronze { background-color: var(--bg-bronze); }
.blank { background-color: #000; color: #000; }

.sectionHeader {
    background-color: #C0C0C0;
    color: #000;
    border-radius: 8px;
    font-weight: 600;
    padding: 5px 8px;
    margin-top: 16px;
    text-align: left;
}

.sectionHeaderCell {
    background-color: #C0C0C0;
    color: #000;
    border-radius: 8px;
    font-weight: 700;
    padding: 4px 8px;
    text-align: center;
}

.mainDeck {
    font-weight: 500;
}

.sideboard {
    font-size: 11px;
    font-style: italic;
    padding-left: 3px;
}
