.container {
    display: flex;
    height: 100%;
    margin-left: 6px;
    margin-bottom: 390px;
    /* overflow-x:scroll; */
}

.container > table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.container > table td,
.container > table th {
    border: 1px solid var(--bg-default);
    border-radius: 8px;
    padding: 0;
}

.stickyColumns {
    position: sticky;
    left: 0;
    z-index: 50 !important;
    background-color: var(--bg-default);
}

.settingsButton {
    position: absolute;
    top: 11.5px;
    margin-left: 6px;
    background-color: #ffffffd8;
    padding: 3px;
    border-radius: 4px;
}

.settingsContainer {
    position: absolute;
    top: 10.5px;
    left: 181px;
    margin-left: 6px;
    background-color: var(--bg-dark);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--text-default);
}

.settingsCardWrapper {
    margin-bottom: 2px;
}

.settingsSubheader {
    font-weight: 400;
}

.topRow {
    position: sticky;
    top: 34px;
    z-index: 40;
    background-color: var(--bg-default);
}

.topRow > th {
    background-color: #000;
    min-height: 45px;
    max-height: 45px;
    height: 45px;
    background: #000;
}

.stickyCol2 {
    min-width: 55px;
    max-width: 55px;
}

.stickyCol3 {
    min-width: 70px;
    max-width: 70px;
}

.stickyCol4 {
    min-width: 60px;
    max-width: 60px;
    border-right: 4px solid var(--bg-default) !important;
}

.categorySectionHeader {
    background-color: #C0C0C0;
    color: #000;
    font-weight: 600;
    padding: 2px 8px !important;
    margin-top: 16px;
    text-align: left;
}

.sectionHeaderRowCell {
    background-color: #C0C0C0;
    color: #000;
    font-weight: 700;
    padding: 4px 8px;
    text-align: center;
}

.mainDeck {
    font-weight: 500;
}

.sideboard {
    font-size: 11px;
    font-style: italic;
    padding-left: 3px;
}

.headerLinkCell {
    font-size: 13px;
    font-weight: 400;
    min-width: 50px;
}

.headerLinkCell:hover {
    background-color: var(--bg-dark-hover-darker);
}

.deckLabelCell {
    max-width: 60px;
    padding: 2px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.statsCell {
    text-align: center;
    padding: 0 6px;
}

.cell {
    background-color: #000;
    text-align: center;
    padding: 0 6px;
}

.gold { background-color: var(--bg-gold); }
.silver { background-color: var(--bg-silver); }
.bronze { background-color: var(--bg-bronze); }
.blank { background-color: #000; color: #000; }
