.wrapperForImg {
    position: relative;
    /* display: flex; */
}

.container {
    position: relative;
    display: flex;
    min-width: 260px;
    width: 260px;
    max-width: 260px;
    font-weight: 500;
    border-radius: 8px;
    padding: 0 4px 4px 8px;
    height: 21px;
    justify-content: space-between;
}

.leftContainer {
    margin-top: 1px;
    color: #FFFFFFF0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.leftContainerOrder {
    margin-top: 1px;
    color: #000000F0;
    text-shadow: -1px -1px 0 #FFFFFFB0, 1px -1px 0 #FFFFFFB0, -1px 1px 0 #FFFFFFB0, 1px 1px 0 #FFFFFFB0;
}

.cardName {
    position: relative;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    z-index: 10;
}

.cardType {
    position: relative;
    z-index: 10;
}

.invert {
    filter: invert(1);
}

.rightContainer {
    display: flex;
    height: 100%;
    margin-top: 2.7px;
    z-index: 10;
}

.cost {
    border: 1px solid #000;
    background-color: #ffffffd8;
    border-radius: 8px;
    padding: 0 4px;
    color: #000;
    display: flex;
    align-items: center;
}

.energyCost {
    font-size: 0.9em;
    padding: 0 3px;
}

.cardImageFullContainer {
    position: absolute;
    left: 95px;
    top: 0;
    width: 160px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImageSmallContainer {
    position: relative;
    height: 25px;
    overflow: hidden;
}

.cardSmallImage {
    width: 100px;
    margin-top: -24px;
}

.leftImageFade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30%;
    height: calc(100%);
}

.rightImageFade {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    height: calc(100%);
}

.cardHoverImage {
    position: absolute;
    top: 0px;
    right: -288px;
    width: 300px;
    border-radius: 16px;
    z-index: 100;
}
