.container {
    margin: 2px 6px 400px 4px;
}

.title {
    display: flex;
    margin: 0 0 4px 2px;
    font-weight: 600;
}

.deckLinkSpan {
    margin-left: 4px;
}

.deckLinkSpan > a {
    all: unset;
    text-decoration: underline;
}

.restyleButton {
    all: unset;
    border-radius: 4px;
    font-size: 14px;
    padding: 1px 8px;
    margin-right: 8px;
}

.emptyButton {
    color: var(--text-default);
    border: 1px solid var(--text-default);
}

.emptyButton:hover {
    background-color: var(--bg-default-hover);
}

.subtitle {
    margin: 0 0 10px 2px;
}

.row {
    margin-bottom: 3px;
    display: flex;
}

.count {
    width: 20px;
    background-color: #000;
    border-radius: 8px;
    text-align: center;
    padding: 2px 6px;
    margin-right: 4px;
    font-weight: 600;
    color: white;
}
