.container {
    margin: 2px 6px 400px 4px;
    max-width: 308px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 4px 6px;
    gap: 4px;
}

.title {
    font-weight: 600;
    margin-left: 2px;
}

.deckLinkSpan {
    margin-left: 4px;
}

.deckLinkSpan > a {
    all: unset;
    text-decoration: underline;
}

.subtitle {
    margin: 0 0 4px 2px;
}

.headerBottomRowContainer {
    display: flex;
    justify-content: space-between;
}

.cardTypeContainer {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    gap: 10px;
    font-size: 17px;
}

.cardTypeInnerContainer {
    display: flex;
    flex-direction: row;
}

.cardTypeCount {
    padding-left: 2px;
}

.sideboard {
    font-size: 11px;
    padding: 6px 0 0 1px;
}

.headerButtonContainer {
    display: flex;
    gap: 4px;
}

.headerButton {
    all: unset;
    float: right;
    border-radius: 50%;
    padding: 0 6px 1px 6px;
    background-color: var(--bg-default);
}

.headerButton:hover {
    background-color: var(--bg-default-hover);
}

.headerButton:active {
    background-color: var(--bg-default-active);
}

.hoverContainer {
    margin: -8px 0 8px 8px;
    display: flex;
    justify-content: flex-end;
}

.hoverInnerContainer {
    position: fixed;
    z-index: 25;
    background-color: var(--bg-dark);
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--text-default);
}

.exportOptionContainer {
    display: flex;
    gap: 4px;
}

.hoverBoxButton {
    all: unset;
    float: right;
    border-radius: 8px;
    margin: 4px 4px 4px 0;
    padding: 1px 10px 2px 10px;
    background-color: var(--bg-default);
}

.hoverBoxButton:hover {
    background-color: var(--bg-default-hover);
}

.hoverBoxButton:active {
    background-color: var(--bg-default-active);
}

.editInput {
    width: 286px;
    margin: 4px 0;
}

.section {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 3px;
    display: flex;
}

.count {
    width: 20px;
    background-color: #000;
    border-radius: 8px 0 0 8px;
    text-align: center;
    padding: 2px 6px 2px 6px;
    font-weight: 600;
    color: white;
    border-right: 2px solid white;
}
